/* Add CSS Styling */
.clickme {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.noclickme {
    background-color: #ffff00;
}

.clickme,
.noclickme {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}