/* Add CSS Styling */
.container .text {
    color: hsl(0, 100%, 50%);
    background-color: rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}